* {
  background: grey;
}

input[type=checkbox] {
  width: 50px;
  height: 10px;
}

table{
  border: solid black 1px;
}

th {
  color: pink;
}

h2{
  font-size: 15px;
  color: black;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.management_skills {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
