* {
  background: white;
  font-family: Arial, cursive;

}

input[type=checkbox] {
  width: 50px;
  height: 10px;
}

table{
  /* border: solid black 1px; */
}

th {
  color: black;
  text-align: left;
  font-size: 12px;
}

h2{
  font-size: 15px;
  background-color: navy;
  color: white;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.management_skills {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
